
* {
    background-color: blanchedalmond;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
    text-decoration: underline;
    font-size: 45px;
}

#weekday {
    border: solid brown 3px;
    align-content: center;
    
}

button {
    width: 200px;
    height: 100px;
    background-color: rosybrown;
color: darkgreen;
border-radius: 30%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
margin: 50px;
display: inline;
cursor: pointer;
}

button:hover {
   background-color: burlywood;

}

p {
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
}